@{
    ViewData["Title"] = "Login";
}
@model LogUser

<div class="text-center">

    <div class="row">
        <div class="col">
            <h1 class="display-4">Login to this Cool Site!</h1>
        </div>
        <div class="col col-lg-2">
            <a href="/" class="text-right">Register</a>
        </div>
    </div>

    <form action="/login/u" method="post">
        <div class="row">
            <div class="col-6">
                <div>
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <input type="submit" value="Login" class="btn btn-secondary" />
                </div>




            </div>



            <div class="col-6">
               <span></span>
        </div>
    </form>
