@{
    ViewData["Title"] = "Home Page";
}

@model DojoSurvey.Models.User

<div class="text-center">
    <form action="proccess" method="post">
        <div class="form-group">
            <label for="Name">Name:</label>
            <input asp-for="Name" class="form-control">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Location">Dojo Location:</label>
            <select asp-for="Location" class="form-select">
                <option value="Orlando">Orlando</option>
                <option value="Miami">Miami</option>
                <option value="Chicago">Chicago</option>
                <option value="Austin">Austin</option>
                <option value="Seattle">Seattle</option>
            </select> 
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="Lang">Favorite Language:</label>
            <select asp-for="Lang" class="form-select">
                <option value="C#">C#</option>
                <option value="Java">Java</option>
                <option value="Python">Python</option>
                <option value="Go">Go</option>
                <option value="C">C</option>
            </select>
            <span asp-validation-for="Lang" class="text=danger"></span>
        </div>
        <div class="form-group">
            <label for="Comments">Comments (optional):</label>
            <textarea asp-for="Comments" cols="5" rows="5" class="form-control"></textarea>
        </div>
        
        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary">
        </div>
    </form>
</div>
